﻿@model IEnumerable<OnlineExamProject.Models.Onlineexamclass>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2>Creating simple online exam project</h2>
<h3>WEB API MVC Tutorials</h3>
<hr />

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qid)
                @Html.DisplayFor(modelItem => item.Question)
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" id="Option1" name="@item.Qid" class="radiob" value="@item.Option1" />@item.Option1 <br />
                <input type="radio" id="Option2" name="@item.Qid" class="radiob" value="@item.Option2" />@item.Option2 <br />
                <input type="radio" id="Option3" name="@item.Qid" class="radiob" value="@item.Option3" />@item.Option3 <br />
                <input type="radio" id="Option4" name="@item.Qid" class="radiob" value="@item.Option4" />@item.Option4 <br />
                <label id="lab1" name="@item.Qid"class="radiob"style="display:none;color:forestgreen;">Correct Answer @item.CorrectAns</label>
            </td>
        </tr>

    </table>
}

    <button type="button"id="but1"onclick="displayResult();">Submit</button>
    <hr />
        <label id="labresult"></label>
        <script>
            document.ready(function () {
                $("#but1").click(function () {
                    $(".radiob").show();
                    $(".radiob").attr("disable", true);
                });
            });

            function displayResult() {
                document.getElementById("labresult").innerHTML = "";
                var e = document.getElementsByTagName('input');
                for (i = 0; i < e.length; i++) {
                    if (e[i].type == "radio") {
                        if (e[i].checked) {
                            document.getElementById("labresult").innerHTML
                                += "Q" + e[i].name + ")" + "You Selected Answer is:" + e[i].value + "<br/>";
                        }
                    }
                }
            }
        </script>


